# office document
*.docx
*.doc
*.pptx
*.ppt
*.xlsx
*.xls

# python environment
*.py 
*.pyc
*.exe
*.Python
pip*
activate.*
python*
easy*
wheel
activate

# tex
*.blg
*.aux
*.toc
*.bbl
*.log.*
*.gz
*.out
*.log
