---
layout: page
title: Experiences
navigation_weight: 4.5
image_path_vv255: /resources/images/works/vv255/preview_lecture_slides.png
image_path_eecs484: /resources/images/works/eecs484/eecs484_teaching_preview.jpg
image_path_3dsspp: /resources/images/works/3dsspp/3dsspp.jpg
works_vv255:	/experiences/vv255.html
---

<br>


<div class="school-title" id="school-um">
	University of Michigan, Ann Arbor
</div>

<div class="project" id="porj-eecs484">
	<a name="eecs484" id="eecs484"></a>
	<div class="project-title">
    <a href="{{ page.works_eecs484 }}">Teaching Assistant for EECS484 Database Management Systems</a>
    <div class="project-year">(2016)</div>
  </div>
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ page.page.works_eecs484 }}">
	      <img class="proj-image-preview" src="{{ page.image_path_eecs484 }}" alt="eecs484">
	    </a>
		</div>
		<div class="col-sm-8">
			Completing EECS484 with an A+ grade in winter 2016, I am honored to become a teaching assistant for this course, working with <a href="http://web.eecs.umich.edu/~aprakash/">Dr. Atul Prakash</a>. Our objective is to collectively build an undergraduate-level database course that introduces both the basic usages and the internal implementations of modern day database management systems. I independently prepare and lead weekly discussion sessions and office hours that facilitate students' learning process.
		</div>
	</div>
</div>

<div class="project" id="porj-3dsspp">
	<a name="3dsspp" id="3dsspp"></a>
	<div class="project-title">
    <a href="{{ page.works_3dsspp }}">Research Assistant at the Center for Ergonomics, University of Michigan</a>
    <div class="project-year">(2016)</div>
  </div>
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ page.page.works_3dsspp }}">
	      <img class="proj-image-preview" src="{{ page.image_path_3dsspp }}" alt="3dsspp">
	    </a>
		</div>
		<div class="col-sm-8">
      I worked in a software engineering team led by <a href="http://www.engin.umich.edu/college/about/people/profiles/u-to-z/charles-woolley">Prof Charles Woolley</a> that develops and maintains the commercially available <a href="http://c4e.engin.umich.edu/tools-services/3dsspp-software/" >3D Static Strength Prediction Program (3D SSPP)</a>. I work on re-designing the hominoid model (as illustrated in the picture) used in strength prediction. I contribute extensively to the improvement of the program's user interface.
		</div>
	</div>
</div>


<div class="school-title" id="school-sjtu">
	University of Michigan - Shanghai Jiao Tong University Joint Institute
</div>

<div class="project" id="porj-vv255">
	<a name="vv255" id="vv255"></a>
	<div class="project-title">
    <a href="{{ page.works_vv255 }}">Teaching Assistant for Vv255 Multiraviate Calculus</a>
    <div class="project-year">(2015)</div>
  </div>
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ page.works_vv255 }}">
	      <img class="proj-image-preview" src="{{ page.image_path_vv255 }}" alt="vv255">
	    </a>
		</div>
		<div class="col-sm-8">
			I served as a teaching assistant in summer 2015 under the supervision of <a href="http://umji.sjtu.edu.cn/faculty/jing-liu/">Dr. Jing Liu</a>. I independently built the entire set of discussion slides, which are in wide use by the TAs in the following semesters. I prepared and led weekly discussion sessions and office hours that review the lecture contents as well as cultivate students' problem-solving skills. I also graded homework assignments and exams, and reported to my faculty supervisor problems of any kind.
		</div>
	</div>
</div>


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
