/* Show it is fixed to the top */
body {
  /* min-height: 75rem; */
  padding-top: 4.5rem;
}

nav {
  font-size: 1.2em;
}

a {
  color: rgba(193, 0, 15, 1);
}

.contacts .contact-name {
  color: #2b8da8;
}

.page {
  padding-top: 1.0em;
}

.page table#edu-table td {
  padding-left: 0px;
  padding-right: 20px;
}

.page table#edu-table .life-period {
  margin-top: 10px;
  margin-bottom: 10px;
}

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.publication-item {
	padding-left: 10px;
	margin-top: 20px;
	/*margin-bottom: 20px;*/
}

.black-font {
  border-bottom: black solid 1px;
}

.paper-title, .conf-abbr {
  font-weight: bold;
}

.school-title {
    margin-top: 2em;
    width: 100%;
    font-size: 1.3em;
    line-height: 2em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #c46;
    color: white;
}

.school-title#school-um {
    background-color: rgba(4, 41, 74, 0.95) !important;
    color: rgba(252, 200, 59, 1) !important;
}

.school-title#school-sjtu {
    background-color: rgba(252, 200, 59, 1) !important;
    color: rgba(4, 41, 74, 0.75) !important;
}

.project {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project .project-title {
    width: 100%;
    line-height: 2em;
    padding-left: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    background-color: rgba(199, 85, 73, 0.95);
    color: white;
}

.project .project-title a {
    color: white !important;
}

.project img {
  width: 95%;
  height: 95%;
  border-radius: 10px;
}

.single-img {
    width: 100%;
    max-width: 600px;
}

footer {
  padding: 30px 0;
}