<br><hr>

<footer>
  <div class="row">
    <div class="col" style="color: gray;">
      Copyright © Xieyang (Michael) Liu 2013 - <span id="copyright-year"></span>
    </div>
    <div class="col text-right">
      <a class="footer-logo-wrapper" href="{{ site.github.homepage }}">
        <img alt="github" src="{{site.logos.github}}" class="footer-logo">
      </a>
      <a class="footer-logo-wrapper" href="{{ site.facebook }}">
        <img alt="facebook" src="{{site.logos.facebook}}" class="footer-logo">
      </a>
      <a class="footer-logo-wrapper" href="{{ site.instagram }}">
        <img alt="instagram" src="{{site.logos.instagram}}" class="footer-logo">
      </a>
      <a class="footer-logo-wrapper" href="{{ site.linkedin }}">
        <img alt="linkedin" src="{{site.logos.linkedin}}" class="footer-logo">
      </a>
    </div>
  </div>
</footer>
