<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<style>

  .boxborder {
    font-size: 1.5em;
    text-shadow: 2px 2px 2px lightgray;
  }

  .row + * {
    margin-top: 30px;
  }

  .row:last-of-type {
    margin-bottom: 30px;
  }

</style>

<body>

<div class="container">
  <h1>Bootstrap <span class="color_h1">Templates</span></h1>
  <hr>
  <p>We have used Bootstrap's grid system to create some responsive HTML templates.</p>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="boxborder"><p>Blog:</p>
        <iframe src="trybs_temp_blog_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_blog.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="boxborder"><p>Portfolio:</p>
        <iframe src="trybs_temp_portfolio_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_portfolio.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="boxborder"><p>Webpage:</p>
        <iframe src="trybs_temp_webpage_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_webpage.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="boxborder"><p>Social:</p>
        <iframe src="trybs_temp_social_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_social.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="boxborder"><p>Marketing:</p>
        <iframe src="trybs_temp_marketing_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_marketing.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="boxborder"><p>Marketing 2:</p>
        <iframe src="trybs_temp_marketing2_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_marketing_2.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="boxborder"><p>Analytics:</p>
        <iframe src="trybs_temp_analytics_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_analytics.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="boxborder"><p>Online Store:</p>
        <iframe src="trybs_temp_store_ifr.htm" style="border:0;width:100%;overflow:hidden;height:245px;"></iframe>
        <a target="_blank" href="sample_temp_store.html" class="w3-btn w3-margin-top">Try it Yourself &raquo;</a>
      </div>
    </div>
  </div>

</div>

</body>
</html>
