#navbar {
  transition: top 0.5s;
}

.active {
  text-decoration: underline;
}

.navlink {
  display: block;
  padding: 0.5rem 1rem;
}

.navbarbrand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
