<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

{% include navbar.html %}

<div class="content container">
  {{ content }}

  {% include footer.html %}
</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- google map embedding -->
<script src="{{ site.baseurl }}public/js/map.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNxGmOG_XqPg0HCAH6_ZX0OoInJFngr3s&callback=initMap">
</script>

<script src="{{ site.helper-js }}"></script>
<script src="{{ site.typed-js }}"></script>

</body>
</html>
